h3 {
color: #777;
}

form {
    display: grid;
}

.wrapper {
    display: grid;
}

button {
    background-color:#777;
    color: white;
    border:none;
    border-radius:10px;
    margin: 15px;
    height: 30px;
}

select {
    background-color:#777;
    color: white;
    border:none;
    border-radius:10px;
    padding: 5px 10px;
    max-width: 200px;
}

button:hover {
    background-color: #555;
}

.form_button{
    min-width: 100px;
    max-width: 200px;
}

.return_button {
    min-width: 50px;
    max-width: 100px;
  }

td {
    padding-right: 50px;
}

#predictions {
    max-width: 50%;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

#text_input {
    width: 30%;
    min-width: 500px;
}
