h3 {
color: #777;
}

form {
    display: grid;
}

.wrapper {
    display: grid;
}

button {
    background-color:#777;
    color: white;
    border:none;
    border-radius:10px;
    margin: 15px;
    height: 30px;
}

select {
    background-color:#777;
    color: white;
    border:none;
    border-radius:10px;
    padding: 5px 10px;
    max-width: 200px;
}

button.active:hover {
    background-color: #555;
}

button.pressed {
    background-color: #444;
}

.form_button{
    min-width: 100px;
    max-width: 200px;
}

.return_button {
    min-width: 100px;
    max-width: 200px;
  }

td {
    padding-right: 50px;
}

.text_input {
    display: block;
    width: 30%;
    min-width: 500px;
}

.prediction {
    max-width: 50%;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.form_block {
    display: flex;
    flex-direction: column;
}

#retrain {
    display: inline;
}