h3 {
color: green;
}
.wrapper {
    display: grid;
}

button {
    background-color:#eee;
    color: #444;
    border:none;
    border-radius:10px;
    margin: 15px;
    height: 30px;
}

button:hover {
    background-color: #ccc;
}

.form_button{
    min-width: 100px;
    max-width: 200px;
}

.return_button {
    min-width: 50px;
    max-width: 100px;
  }

td {
    padding-right: 50px;
}

#predictions {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
